
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.subhead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.panel {
  display: flex;
  justify-content: space-between;
  width: 30%;
  max-width: 800px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  background-color: rgb(51, 65, 85);
}

.panel-item {
    padding: 10px;
    background-color: rgb(51, 65, 85);
}

.panel-item span {
  background-color: rgb(51, 65, 85);
}

.input {
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #e9eaee;
  /* width: full; */
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px;
}

.keyboard button {
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  margin: -2px;
}

.keyboard button:hover {
  background-color: #5f97f6;
}

.space-key {
  width: 200px;
}

.guess-key {
  background-color: #5f97f6 !important;
  color: white;
}
.hint-key {
  background-color: #324350 !important;
  color: white;
}
/* Responsive CSS */
@media screen and (max-width: 768px) {
  .keyboard {
    margin-top: 10px;
  }

  .keyboard-row {
    flex-wrap: wrap;
  }

  .keyboard button {
    padding: 6px 10px;
    font-size: 13px;
  }

  .space-key {
    width: 150px;
  }
  .guess-key {
    background-color: #5f97f6;
  }
  .hint-key {
    background-color: #324350;
    /* width: 20%; */
  }

}
